.container {
  background-color: #184981;
}
.footerBar {
  padding: 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.itemContainer {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
}
.item {
  color: white;
  font-size: 20px;
  padding: 10px;
}
.icons {
  height: 100px;
  width: 100px;
}
