.container {
  background-color: #0586ff;
  color: white;
  font-size: 20px;
}
.footerBar {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.itemContainer {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  flex: 1;
  align-items: center;
}
