.container {
  display: flex;
  flex: 1;
  background-color: #a2d2ff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 800px;
  font-size: 20px;
}

.header {
  font-size: 80px;
}
