.container {
  z-index: 900;
  position: fixed;
  width: 100%;
  transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.isScrolled {
  background-color: white;
}
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  padding: 0px 40px;
}
.container.is-scrolled {
  background-color: blue;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  transition: transform 0.5s ease-in-out;
  :hover {
    animation: moveUpDown 0.5s infinite alternate;
  }
}
.logo {
  color: black;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // transition: transform 0.3s ease-in-out;
  :hover {
    // transform: translateY(-10px);
    color: blue;
  }
}

.itemContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  :hover {
    animation: moveUpDown 0.5s infinite alternate;
  }
}
.item {
  color: black;
  font-size: 20px;
  line-height: 20px;
  padding: 5px 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
